@font-face {
    font-family: osrsFont;
    src: url('../assets/runescape.ttf');
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: rgb(29, 28, 28);
    font-family: 'osrsFont', sans-serif;
}
html {
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

.indicators p {
    position: absolute;
    display: none;
    color: #E2E200;
    top: 17.2%;
    left: 37%;
    font-size: 18px;
    letter-spacing: 2px;
}

.indicators img {
    position: absolute;
    display: none;
    top: 19%;
    left: 27%;
}

b {
    color: #E2E200;
}

.button-container {
    width: 893px;
}

li {
    width: 893px;
    font-size: 22px;
    color: white;
}

.session-info {
    display: flex;
    color: white;
    font-size: 22px;
}

#hiscoreDisplay, #counterDisplay, #previousDisplay {
    margin: 10px 70px;
    width: 200px;
}

#misclickImage {
    position: fixed;
    display: none;
    transform: translate(-50%, -2%)
}

#healerMenu {
    position: fixed;
    display: none;
    transform: translate(-50%, -2%)
}

.healer-menu-text {
    position: absolute;
    color: white;
    width: 100%;
}

.healer-menu-text.row1 {
    top: 27%;
    left: 1%;
}

.healer-menu-text.row2 {
    top: 49%;
    left: 1%;
    z-index: 2;
}

.healer-menu-text.row3 {
    top: 70%;
    left: 1%;
}

.healer-menu-text a {
    text-decoration: none;
    cursor: default;
    font-size: 19px;
    position: absolute;
    letter-spacing: 1px;
    width: 304px;
    height: 19px;
}

.healer-menu-text a:hover {
    color: #E2E200;
}

.hide-button {
    display: none;
}

#hideButton {
    margin: 10px 0px;
}

#zoomButton60 {
    margin-left: 50px;
}