@font-face {
    font-family: osrsFont;
    src: url('../assets/runescape.ttf');
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: rgb(29, 28, 28);
    font-family: 'osrsFont', sans-serif;
}
html {
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

.wrapper {
    position: relative;
    width: 893px;
    height: 583px;
}

.indicators p {
    position: absolute;
    display: none;
    color: #E2E200;
    top: -1.9%;
    left: 23%;
    font-size: 18px;
    letter-spacing: 2px;
    z-index: 3;
    text-wrap: nowrap;
}

.indicators b {
    color: #FF9440;
}

.indicators img {
    position: absolute;
    display: none;
    top: 1%;
    left: 1%;
    z-index: 3;
}

.indicators span {
    color: #E2E200;
}

button {
    font-family: 'osrsFont', sans-serif;
    font-size: 18px;
    background-color: #554C41;
    padding: 5px;
    color: #C27112;
    border-radius: 10%;
    border: 2px solid #2b2621;
    font-weight: 600;
}

button:active {
    background-color: #645a4d;
}

#wormToolTip, #wormHealerToolTip {
    font-size: 13px;
    color: white !important;
    position: fixed;
    display: none;
    transform: translate(2px, 9px);
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 3px;
    background-color: rgba(36, 36, 36, 0.411);
}

b {
    color: #E2E200;
}

.button-container {
    width: 893px;
}

li {
    width: 893px;
    font-size: 22px;
    color: white;
}

.session-info {
    display: flex;
    color: white;
    font-size: 22px;
}

#hiscoreDisplay, #counterDisplay, #previousDisplay {
    margin: 20px 70px;
    width: 200px;
}

#misclickImage {
    position: fixed;
    display: none;
    transform: translate(-50%, -2%)
}

#healerMenu {
    position: fixed;
    display: none;
    transform: translate(-50%, -2%)
}

.healer-menu-text {
    position: absolute;
    color: white;
    width: 100%;
}

.healer-menu-text.row1 {
    top: 27%;
    left: 1%;
}

.healer-menu-text.row2 {
    top: 49%;
    left: 1%;
    z-index: 2;
}

.healer-menu-text.row3 {
    top: 70%;
    left: 1%;
}

.healer-menu-text a {
    text-decoration: none;
    cursor: default;
    font-size: 19px;
    position: absolute;
    letter-spacing: 1px;
    width: 304px;
    height: 19px;
}

.healer-menu-text a:hover {
    color: #E2E200;
}

.hide-button {
    display: none;
}

#hideButton {
    margin: 10px 0px;
}

#zoomButton60 {
    margin-left: 50px;
}

#toggleToolTip {
    margin-left: 30px;
}